#deaths{
    display:inline-block;
}

#deathsText{
    display:inline-block;
}

#family{
    display:inline-block;
}

#familyText{
    display:inline-block;
}

#friends{
    display:inline-block;
}

#friendsText{
    display:inline-block;
}

#brokenHearts{
    display:inline-block;
}

#brokenHeartsText{
    display:inline-block;
}
